.Event_Task {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
}

.Event_Task_plate {
    margin: 10px;
    width: 90vw;
    max-width: 500px;
    background: gray;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.Event_Task_textplate {
    height: 80%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px;
}

.Link {
    color: black;
    box-sizing: border-box;
    height: 100%;
}

.Event_Task_title {
    width: 100%;
    float: left;
    font-size: 1.5rem;
    margin-bottom: 10px ;
    font-weight: 800;
}

.Event_Task_desctiption {
    width: 100%;
    height: 30%;
    float: left;
    border-top: 2px solid black;
    font-size: 1rem;
}

.ButtonAndTimerPlate {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 10px;
}

.Event_Task_OkButton {
    font-size: 1.4rem;
    float: right;
    width: 50px;
    height: 50px;
}
.TimerPlate {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}
.TimerNumberPlate {
    width: 20%;
    text-align: center;
}
