@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
.Event_Task {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

.Event_Task_plate {
    margin: 10px;
    width: 90vw;
    max-width: 500px;
    background: white;
    box-shadow: 0px 10px 10px 0px grey;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    transition-duration: 1s;
}
.Event_Task_plate:hover {
    transition-duration: 1s;
    max-width: 550px;
    box-shadow: 0px 10px 50px 10px gray; 
}

.Event_Task_textplate {
    height: 80%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px;
}

.Link {
    color: black;
    box-sizing: border-box;
    height: 100%;
    width:100%;
}

.Event_Task_title {
    width: 100%;
    float: left;
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: left;
    text-indent:  10px;
}

.Event_Task_desctiption {
    width: 100%;
    height: 30%;
    float: left;
    font-size: 1rem;
    text-align: left;
    text-indent:  10px;
}

.ButtonAndTimerPlate {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
    margin: 10px;
}

.Event_Task_OkButton {
    float: right;
    width: 50px;
    height: 50px;
    margin: 0px 10%;
    font-size: 1.4rem;
    outline: none;
    background: none;
    border:none;

}
.TimerPlate {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}
.TimerNumberPlate {
    background-color:white;
    width: 20%;
    text-align: center;
    outline:none;
    border:none;
    border-radius: 5px;
}
