@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
.NoteDetailPlate {
    animation: 1s ease-out 0s 1 slideInFromLeft;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.NoteDetailTitle,
.NoteDetailText {
    outline: none;
    border: none;
    text-indent: 10px;
    margin: 10px;
}
.NoteDetailTitle , .NoteDetailText { 
    box-shadow: 0px 10px 10px 0px lightgray;
}
.NoteDetailTitle {
    width: 80%;
    height: 10%;
    font-size: 1.5rem;
    font-weight: 800;
    text-indent: 20px;
}
.NoteDetailText {
    width: 80%;
    height: 40%;
    text-align: justify;
    text-indent: 20px;
    resize:none;
    border-top: 2px dashed lightgray;
}
.NoteDetailChangeButton ,.NoteDeleteButton  {
    width:60px; 
    height: 50px;
    margin: 10px;
}
.NoteDeleteButton{
    color: red;
}
