@import-normalize;
.App {
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
    background-color: lightgray;
    overflow-y: auto;
    height: 92vh;
}

.App_Navbar {
    background-color: gray;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
    height: 60px;
    position: absolute;
    bottom: 0px;
}
.App_Navbar_Plus_Button {
    height: 60px;
    width: 60px;
    position: relative;
    bottom: 10px;
    text-align: center;
    font-size: 3.2rem;
}
.App_Navbar_Link_Back, .App_Navbar_Link_Note_Report{
    font-size:2.5rem;
    text-decoration:none;
    margin: 10px;
}
