@import-normalize;
.App {
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
    background-color: white;
    overflow-y: auto;
    height: 100vh;
}

.App_Navbar {
    box-shadow: 0px -5px 20px 5px lightgray;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:center;
    width: 100vw;
    height: 60px;
    position: absolute;
    bottom: 0px;
    z-index:1;
}
.App_Navbar_Link_Back, .App_Navbar_Link_Note_Report{
    text-decoration:none;
    margin: 10px;
}
img { 
    height: 40px; 
    width: 40px;
}
