@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
.Note_Report_Plate {
    animation: 1s ease-out 0s 1 slideInFromLeft;
    width: 100vw;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.Note_Report_Plate * {
    width: 80%;
    margin: 5px;
    text-indent: 10px;
    line-height: 30px;
    resize: none;
}
.Note_Report_Plate_Title, .Note_Report_Plate_Text{ 
    box-shadow: 0px 10px 10px 0px lightgray;
}
.Note_Report_Plate_Title {
    font-size: 1.2rem;
    font-weight: 800;
    border: none;
    outline: none;
    min-height: 50px;
}
.Note_Report_Plate_Text {
    height: 30vh;
    border: none;
    outline: none;
    border-top: 1px dashed lightgray;
}
.Note_Report_Plate_CreateButton {
    min-width: 50px;
    min-height: 50px;
    width: 50px;
    height: 50px;
    text-indent: 0px;
    font-size: 2rem;
}
